<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>GimbalController</title>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<style>
	#pan {
	height:120px; float:left; margin:15px
	}
	#tilt {
	width:120px; float:left; margin:15px
	}
	</style>
	<script>
	$(function() {
		$( "#pan" ).slider({
			min:0,
			max:65535,
			value: 32768,
			range: "min",
			animate: true,
			orientation: "vertical"
		}).bind('slide', function(event,ui){
			$.ajax({url:"/_position",datatype:'json',data:{
				'tilt':$("#tilt").slider("option","value"),
				'pan':$("#pan").slider("option","value")
			}})
		});
		$( "#tilt" ).slider({
			min:0,
			max:65535,
			value: 32768,
			orientation: "horizontal",
			range: "min",
			animate: true
		}).bind('slide', function(event,ui){
			$.ajax({url:"/_position",datatype:'json',data:{
				'tilt':$("#tilt").slider("option","value"),
				'pan':$("#pan").slider("option","value")
			}})
		});
		$("#scan").button().click(function(event){
			$.ajax({url:"/_scan"})
		});
	});
  </script>
</head>
<body>
	<div>
		<span id="tilt"></span>
		<span id="pan"></span>
	</div>
	<button id="scan">Scan</button>
</body>
</html>