<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>GimbalController</title>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='vis.css') }}" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='jquery.event.drag-2.2.js') }}"></script>
	<script src="{{ url_for('static', filename='vis.js') }}"></script>
</head>
<body>
	<div>
		<canvas id="gimbalLayer0" class="gimbal" width="400" height="400"></canvas>
		<canvas id="gimbalLayer1" class="gimbal" width="400" height="400"></canvas>
		<canvas id="gimbalLayer2" class="gimbal" width="400" height="400"></canvas>
	</div>
	<button id="scan">Scan</button>
</body>